/// <mls fileReference="_100555_/l2/pluginStyle/pluginLessPseudo.less" enhancement="_102027_/l2/enhancementStyle" />
				
plugin-style--plugin-less-pseudo-100555 {
                
 
    width: 100%;
    display: block;
    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-default;
    background-color: @surface-bg;
    padding-top: @space-8;
                
}


