/// <mls fileReference="_100555_/l2/pluginStyle/pluginStyleCursor.less" enhancement="_102027_/l2/enhancementStyle" />

plugin-style--plugin-style-cursor-100555 {

        width: 100%;
        display: block;
        font-family: @font-family-primary;
        font-size: @font-size-16;
        font-weight: @font-weight-normal;
        line-height: 1.5;
        color: @text-primary-color;
        background-color: @bg-primary-color;
        padding-top: @space-8;
    .gallery {

        display: flex;
        flex-wrap: wrap;
        div {
            flex: 150px;
            text-align: center;
            padding: 10px 2px;
            white-space: nowrap;
            border: 1px solid #eee;
            border-radius: 5px;
            margin: 0 5px 5px 0;
        }
        div:hover {
            background: #eee;
            color: #000000;
        }

    }

}


