service-details-ds-100554 {//don't change this line 
    .mls-ds-resume {
        padding: .6rem;

        details {
            border: 1px solid #f3f3f3;
            background: white;
            padding: 1rem;
            border-radius: 10px;

            summary {
                font-size: 18px;
                font-weight: bold;
            }

            ul {
                padding-inline-start: 2rem;
                list-style: none;

                li {
                    margin-bottom: 0.5rem;

                    span:nth-child(3) {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

