service-select-ds-100554 {//don't change this line 
    .l5-ds-list {
        overflow-y: auto;
        width: 100%;
        scroll-behavior: smooth;

        .filter-container {
            padding: 0.5rem;
        }

        .serviceListAddDs {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
        }

        .serviceListList {
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0.5rem;

            li {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0.5rem;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    display: flex;
                    gap: .5rem;
                    align-items: center;

                    i> {
                        color: lightskyblue;
                        font-size: 13px;
                    }
                }

                &:hover {
                    background: #f7f7f7;
                }

                &.selected {
                    background: #e3e3e3;
                }

                .serviceListChanged {
                    color: lightskyblue;
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .serviceBugChanged {
                    color: rgb(169, 3, 3);
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

}

