/// <mls fileReference="_100555_/l2/pluginProject/pluginGenerateDist.less" enhancement="_102027_/l2/enhancementStyle" />

plugin-project--plugin-generate-dist-100555 {

    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: @text-default;
    overflow-y: auto;

    .agent-box {
        max-width: 1200px;
        margin: 10px auto;
        padding: .3rem;
        border-radius: 18px;
    }



    //Header
    header {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 24px;
        border-bottom: 1px solid #ececec;
        padding-bottom: 12px;
    }

    header span {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }

    header .svg-container {
        width: 22px;
        margin: 4px;
        display: inline-flex;
        fill: @text-default;
    }

    icon svg {
        width: 22px;
        height: 22px;
        color: @text-default;
        fill: @text-default;
    }

}


