/// <mls fileReference="_100555_/l2/pluginProject/pluginProjectDetail.less" enhancement="_102027_/l2/enhancementStyle" />

plugin-project--plugin-project-detail-100555 {

    font-family: @font-family-primary;
    display: block;
    height: calc(100% - 55px);
    overflow: auto;
    background: @surface-bg;
    font-size: @font-size-16;

    details {
        border: 1px solid var(--border-subtle);
        padding: 1rem;
        border-radius: 10px;
        margin-bottom: 1rem;

        >div {
            padding-left: 2rem;
        }
    }

}


