service-ds-doc-list-100554 { //don't change this line 

   details > summary{
        padding: .4rem;
       cursor: pointer;
        &:hover {
            background: @grey-color-light;
        }
        &.selected {
            background: @grey-color-light;
        }
        >div {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            width: calc(100% - 40px);
            span{
                flex: 1;
                border-bottom: 1px dashed black;
            }
            p{
                margin: 0;
            }
        }
   }

    details.nochildren {
        
         summary {
            padding-left: 1.75rem;
            list-style-type: none;
            >div {
                width: calc(100% - 20px);
            }
       }
    }
    .list-docs-actions{
        display: flex;
        justify-content: center;
        button{
            margin-top:1rem;
            width: 80%;
        }
    }
    

}

