/// <mls fileReference="_100555_/l2/pluginSiteMonitorDashboard/pluginSiteMonitorDashboardActiveUsers.less" enhancement="_100554_/l2/enhancementStyle" />

plugin-site-monitor-dashboard-active-users-100555 {

    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-primary-color;
    background-color: @bg-primary-color;

    .plugin-body {
        height: 100%;
        width: 100%;
    }

    .plugin-container {
        background-color: #f4f5ff;
        padding: 10px 0;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
    }

    header {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-bottom: 16px;
    }

    header>div {
        display: flex;
        gap: .5rem;
    }

    icon {
        margin-right: 10px;
    }

    h2 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        color: #333;
    }

    small {
        color: #888;
        margin-left: auto;
        font-size: 14px;
    }

    p {
        font-size: 16px;
        color: #555;
    }

    select {
        border-radius: 13px;
        border: 1px solid #cecece;
        padding: .3rem;
        cursor: pointer;
        outline: none;
    }

}


