mls-history-list-100554 { //don't change this line 
 	   ul {
        list-style: none;
        padding-inline-start: 0;

        details {
            cursor: pointer;
            margin-bottom: 4px;
            line-height: 2em;

            summary {
                border-bottom: 1px solid @grey-color-dark;
                background: @bg-secondary-color-lighter;
                outline: none;
                user-select: none;
            }
        }

        .historie-item {

            &.active{
                background: @grey-color-light;
            }
            display: flex;
            cursor: pointer;
            line-height: 3em;
            position: relative;
            padding-left: 2rem;
            gap: 1rem;
            align-items: center;

            .historie-lines{
                width: 70px;
            }

            .historie-additions {
                font-weight: bold;
                color: @success-color;
            }

            .historie-deletions {
                font-weight: bold;
                color: @error-color;
            }

            img {
                cursor: pointer;
                width: 30px;
                height: 30px;
                background-size: cover;
                background-position: top center;
                border-radius: 50%;
            }

            &:hover {
               background-color:  @bg-secondary-color-lighter;
            }

           
        }
    }
}

