/// <mls fileReference="_100555_/l2/pluginGit/pluginPullrequest.less" enhancement="_102027_/l2/enhancementStyle" />
				
plugin-git--plugin-pullrequest-100555 {

    display: block;
    margin-bottom: 1rem; 

    a {
        color: @link-text;
    }

    h3 {
        border-bottom: 1px solid @border-subtle-focus;
    }
                
}


