service-list-files-add-100554 { //don't change this line 
 	:host{
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 46px);
        width: 96%;
        position: relative;
        display: flex;
        flex-direction: row;
        gap:2%;
        padding:1rem;
    }
    sectionlistadddef{
        display: block;
        width: 30%;
    }
    sectionlistinfodef{
        display: block;
        width: 70%;
    }
    input, select, textarea {
        outline: none;
    }
    textarea {
        border: 1px solid #dee2e6;
        border-radius: 5px;
    }
    fieldset {
        border: 1px solid #dee2e6;
        border-radius: 5px;
    }

    .grpInputServiceListNewFile {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        gap:2px;
        label {
            font-size: .8rem;
            font-weight: 500;
        }
        input, select {
            height: 25px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }
        span{
            color: red;
            width: 100px;
            top:-5px;
            font-size: 12px;
        }
    }
    .grpButtonServiceListNewFile {
        margin-top:20px;
        display: flex;
        gap: .5rem;
        width: 100%;
        button {
            border:1px solid #dee2e6;
            border-radius: 4px;
            background: none;
            cursor: pointer;
            width: 100%;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
        }
        .btnCancelServiceListNewFile:hover {

            color: red;
            //color:white;
        }
        .btnAddServiceListNewFile:hover {

            color: blue;
            //color:white;
        }
    }
}

