/// <mls fileReference="_100555_/l2/utils/lessAST.less" enhancement="_102027_/l2/enhancementStyle" />

utils--less-a-s-t-100555 {
    color: yellow;
    .cl1 {
        color: blue;
		.cl2 {
			&:move {
				margin: 9px;
			}
		}
    }

    &:hover {
        color: blue;
    }

}


