service-ds-style-spacing-100554 { //don't change this line 

    :host {
        padding: 1rem;
        display: block;
        >div {
            margin-bottom: 1rem;
            border-bottom: 1px solid rgb(188, 185, 185);
        }
    }
    .groupEdit {
        display: flex;
        flex-direction: row;
        margin-bottom: .5rem;
        span {
            width: 150px;
            font-size: 90%;
        }
    }
}

