service-ds-components-list-100554 { //don't change this line 
 	:host{
        font-family: @font-family-primary;
        display: block;
        padding: 1rem;
        overflow-y: auto;
        height: calc(100% - 2rem);
    }
    
    
    ul {
        margin-top:.5rem;
        margin-left: 0;
        padding-left: 0px !important;
        list-style: none;
         user-select: none;
    }

    li{
        padding: .2rem .2rem;
        cursor:pointer;
    }

    li ul {
        list-style: none;
        user-select: none;
        border-left: 1px solid #dbd9d9;
        margin-left: 0.2rem;
        display: none;
        li{
            padding: .3rem .2rem;
        }
        li:hover{
            
            background: #f6f6f6 !important;

        }
    }

   

    li.open>ul {
        display: block;
    }

    li>div {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        input,
        label {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }
    }

    li.open .fatv{
        transform: rotate(90deg); 
        user-select: none;
    }

    .fatv {
        user-select: none;
        &.fa-caret-righttv {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 256 512'><path d='M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z'/><path d='M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z'/></svg>");
            background-repeat: no-repeat;
            width: 10px;
            background-position-y: center;
            padding: 0;
            cursor: pointer;

            &.rotate {
                transform: rotate(90deg);
            }
        }
    }

    

    .fa-undo:hover, .fa-clone:hover, .fa-file-pen:hover, .fa-trash:hover {
        filter: invert(39%) sepia(22%) saturate(4456%) hue-rotate(194deg) brightness(103%) contrast(101%);
    }

    .fa {

        display: flex;
        justify-content: center;
        align-items: center;
        &.fa-cubes {
            background-image:  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M290.8 48.6l78.4 29.7L288 109.5 206.8 78.3l78.4-29.7c1.8-.7 3.8-.7 5.7 0zM136 92.5V204.7c-1.3 .4-2.6 .8-3.9 1.3l-96 36.4C14.4 250.6 0 271.5 0 294.7V413.9c0 22.2 13.1 42.3 33.5 51.3l96 42.2c14.4 6.3 30.7 6.3 45.1 0L288 457.5l113.5 49.9c14.4 6.3 30.7 6.3 45.1 0l96-42.2c20.3-8.9 33.5-29.1 33.5-51.3V294.7c0-23.3-14.4-44.1-36.1-52.4l-96-36.4c-1.3-.5-2.6-.9-3.9-1.3V92.5c0-23.3-14.4-44.1-36.1-52.4l-96-36.4c-12.8-4.8-26.9-4.8-39.7 0l-96 36.4C150.4 48.4 136 69.3 136 92.5zM392 210.6l-82.4 31.2V152.6L392 121v89.6zM154.8 250.9l78.4 29.7L152 311.7 70.8 280.6l78.4-29.7c1.8-.7 3.8-.7 5.7 0zm18.8 204.4V354.8L256 323.2v95.9l-82.4 36.2zM421.2 250.9c1.8-.7 3.8-.7 5.7 0l78.4 29.7L424 311.7l-81.2-31.1 78.4-29.7zM523.2 421.2l-77.6 34.1V354.8L528 323.2v90.7c0 3.2-1.9 6-4.8 7.3z'/></svg>");
            background-repeat:no-repeat;
            width: 17px!important;
            height: 17px;
            background-position-y: center;
            display: block;
        }
    }
}

