collab-ds-input-range-100554 {

    //don't change this line 
    :host {
        display: flex;
        align-items: center;
        gap: 1rem;

        input[type="range"] {
            background-color: #f8f9fa; //white;
            width: 120px;
            min-width: 50px;
            border-width: 0px;
            border: none;
            border-radius: 2px 0 0 2px;
            height: 100%;
            color: black;
            font-size: 11.5px;
            padding: 0;
        }

        >div {
            display: flex;
            border: 1px solid rgb(181, 180, 180);
            border-radius: 5px;

            input[type="search"] {
                border: none;
                padding: .1rem .1rem;
                outline: none;
                width: 60px;
            }

            select {
                border: 0px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                min-width: 45px;
                padding: .1rem .1rem;
                outline: none;
                -webkit-appearance: none;
                font-size: 13px;
                text-align-last: center;
                transition: all .3s;
                user-select: none;

                &:hover {
                    background-color: #40404054;
                    color: white;
                    transition: all 0.3s;

                }
            }

        }

        input[type="range"]::-webkit-input-placeholder {
            font-size: 11px;
        }
    }
}

